apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    createdAt: "2025-11-02T22:18:08Z"
    operators.operatorframework.io/builder: operator-sdk-v1.34.1
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
    repository: https://github.com/mmz-srf/akamai-operator
    support: SRF
  name: akamai-operator.v0.3.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: Kubernetes Operator for managing Akamai Properties via the Property
    Manager API
  displayName: Akamai Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: []
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - akamai
  - cdn
  - edge
  - property
  - manager
  links:
  - name: Akamai Operator
    url: https://github.com/mmz-srf/akamai-operator
  - name: Akamai Property Manager API
    url: https://techdocs.akamai.com/property-mgr/reference/api
  maintainers:
  - email: gicara@gmail.com
    name: Gianni Carafa
  maturity: alpha
  provider:
    name: Akamai Technologies
    url: https://www.akamai.com
  version: 0.3.1
