apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "akamai.com/v1alpha1",
          "kind": "AkamaiProperty",
          "metadata": {
            "name": "example-property"
          },
          "spec": {
            "propertyName": "example.com",
            "contractId": "ctr_C-123456",
            "groupId": "grp_123456",
            "productId": "prd_HTTP_Content_Del",
            "hostnames": ["example.com", "www.example.com"],
            "rules": {
              "name": "default",
              "criteria": [],
              "behaviors": [
                {
                  "name": "origin",
                  "options": {
                    "cacheKeyHostname": "REQUEST_HOST_HEADER",
                    "compress": true,
                    "enableTrueClientIp": false,
                    "forwardHostHeader": "REQUEST_HOST_HEADER",
                    "hostname": "origin.example.com",
                    "httpPort": 80,
                    "httpsPort": 443,
                    "originSni": true,
                    "originType": "CUSTOMER",
                    "ports": "",
                    "trueClientIpClientSetting": false,
                    "trueClientIpHeader": "True-Client-IP",
                    "verificationMode": "PLATFORM_SETTINGS"
                  }
                }
              ],
              "children": []
            }
          }
        }
      ]
    capabilities: Basic Install
    createdAt: "2025-10-31T15:00:00Z"
    operators.operatorframework.io/builder: operator-sdk-v1.34.1
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
    repository: https://github.com/mmz-srf/akamai-operator
    support: SRF
  name: akamai-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: AkamaiProperty is the Schema for the akamaiproperties API
      displayName: Akamai Property
      kind: AkamaiProperty
      name: akamaiproperties.akamai.com
      version: v1alpha1
  description: Kubernetes Operator for managing Akamai Properties via the Property
    Manager API
  displayName: Akamai Operator
  icon:
  - base64data: PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHBhdGggZD0iTTUwLjEyNSA0Ni44NjZoLTYuMDQ3TDQ5LjYyIDM1Ljc4em0uNTA0IDUuMDRsLjUwNCA0LjUzNWg3LjA1NWwtMi41Mi0yNS43SDQ1LjA4NWwtMTMuMTAyIDI1LjdoNy4wNTVsMi4wMTYtNC41MzV6IiBmaWxsPSIjZjc5NzFkIi8+PHBhdGggZD0iTTM1LjAwNyA2Mi40ODhDMjEuOTA0IDU4LjQ1NyAxMi4zMyA0Ni4zNjIgMTIuMzMgMzIuMjUyYzAtMTQuNjE0IDkuNTc1LTI2LjcgMjMuMTgtMzAuNzRDMzcuMDIyIDEuMDA4IDM2LjUxOCAwIDM1LjAwNyAwIDE2Ljg2NS41MDQgMi43NTUgMTQuNjE0IDIuNzU1IDMyLjI1MlMxNi44NjUgNjQgMzUuMDA3IDY0YzEuNTEyIDAgMS41MTItMS4wMDggMC0xLjUxMnptLTE2LjYzLTIzLjE4di0yLjUyYzAtMTQuMSAxMS4wODctMjUuMTk3IDI1LjE5Ny0yNS4xOTcgMTMuMTAyIDAgMTcuMTM0IDYuMDQ3IDE3LjYzOCA1LjU0M1M1Ni42NzYgNS4wNCA0MS4wNTQgNS4wNGMtMTQuMSAwLTI1LjE5NyAxMS4wODctMjUuMTk3IDI1LjE5NyAwIDMuMDI0LjUwNCA2LjA0NyAxLjUxMiA5LjA3LjUwNCAxLjUxMiAxLjAwOCAxLjUxMiAxLjAwOCAwek0yOC45NiAyMS4xNjVjNi41NS0zLjAyNCAxNC42MTQtMy4wMjQgMjIuNjc3IDAgNS41NDMgMi4wMTYgOC41NjcgNC41MzUgOS4wNyA0LjUzNXMtMy4wMjQtNi4wNDctOS41NzUtOC41NjdjLTguMDYyLTMuMDMzLTE2LjEyNS0xLjUtMjIuNjc3IDMuNTI3LS41MDQuNTA0IDAgMS4wMDguNTA0LjUwNHoiIGZpbGw9IiMwMDk1ZDYiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - akamai.com
          resources:
          - akamaiproperties
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - akamai.com
          resources:
          - akamaiproperties/finalizers
          verbs:
          - update
        - apiGroups:
          - akamai.com
          resources:
          - akamaiproperties/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: akamai-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: akamai-operator
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: akamai-operator
          control-plane: controller-manager
        name: akamai-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: kubernetes.io/arch
                        operator: In
                        values:
                        - amd64
                        - arm64
                        - ppc64le
                        - s390x
                      - key: kubernetes.io/os
                        operator: In
                        values:
                        - linux
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.1
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                env:
                - name: AKAMAI_HOST
                  valueFrom:
                    secretKeyRef:
                      key: host
                      name: akamai-credentials
                - name: AKAMAI_CLIENT_TOKEN
                  valueFrom:
                    secretKeyRef:
                      key: client_token
                      name: akamai-credentials
                - name: AKAMAI_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: client_secret
                      name: akamai-credentials
                - name: AKAMAI_ACCESS_TOKEN
                  valueFrom:
                    secretKeyRef:
                      key: access_token
                      name: akamai-credentials
                image: ghcr.io/mmz-srf/akamai-operator:0
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: akamai-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: akamai-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - akamai
  - cdn
  - edge
  - property
  - manager
  links:
  - name: Akamai Operator
    url: https://github.com/mmz-srf/akamai-operator
  - name: Akamai Property Manager API
    url: https://techdocs.akamai.com/property-mgr/reference/api
  maintainers:
  - email: gicara@gmail.com
    name: Gianni Carafa
  maturity: alpha
  provider:
    name: Akamai Technologies
    url: https://www.akamai.com
  version: 0.0.1
